# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Node
node_modules/
dist/
dist-electron/

# Environment variables
.env

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# App specific
backend/transcripts/
